.contact {
  padding-top: 50px;

  .contact__title {
    margin: 0;
    padding-bottom: 40px;

    font-weight: 300;
    font-size: @font-size--h1;
    text-align: center;
    color: @text--blue;
  }

  .contact__list {
    display: flex;
    flex-direction: column;
  }

  .contact__text {
    margin: 0;
    padding-bottom: 10px;

    font-weight: 700;
    font-size: @font-size--h3;
    text-align: center;
  }

  .contact__item {
    display: flex;
    flex-direction: column;
    padding-bottom: 25px;
  }

  .contact__info {
    align-self: center;

    font-weight: 300;
    font-size: @font-size--big;
    text-decoration: none;

    &--text-red {
      color: @text-pink;
    }
  }
}
