.contest-data {
  background-color: @bg--white;

  .contest-data__intro {
    width: 280px;
    margin: 0 auto;
    padding-top: 50px;

    font-weight: 400;
    font-size: @font-size;
    line-height: @line-height--big;
    text-align: center;
    color: @text--blue;
  }

  .contest-data__intro span {
    display: none;
  }

  .contest-data__block {
    border: none;
    width: 280px;
    margin: 0 auto;
  }

  .contest-data__list-item {
    display: flex;
    flex-direction: column;

    color: @text--blue;
  }

  .contest-data__input {
    box-sizing: border-box;
    padding: 15px 3px 15px 20px;

    border: 2px solid @border-grey;
    border-radius: 2px;
    outline: none;
  }

  .contest-data__label-info {
    padding-top: 20px;
    padding-bottom: 10px;

    font-weight: 400;
    font-size: @font-size;
    line-height: @line-height--big;
    text-align: left;
    color: @text-pink;
  }

  .contest-data__title {
    padding-top: 40px;

    font-size: @font-size;
    line-height: @line-height--h2;
    color: @text-pink;
  }

  .contest-data__list {
    padding-top: 40px;
    padding-bottom: 44px;
  }

  .contest-data__wrapper-grey {
    background-color: @bg--grey;
  }

  .contest-data__textarea {
    resize: none;
  }

  .contest-data__label {
    align-self: flex-start;
    padding-bottom: 50px;
    padding-left: 40px;
  }

  .contest-data__form {
    display: flex;
    flex-direction: column;
  }

  @media (min-width: @tablet--width) {
    // .contest-data__block {
    //   width: 620px;
    background-color: @bg--white;
    border: 2px solid #e5e5e5;
    border-radius: 2px;

    .contest-data__intro {
      width: 620px;

      font-weight: 400;
      font-size: @font-size--h2;
      line-height: line-height--base;
    }

    .contest-data__list-item {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin-bottom: 50px;
    }

    .contest-data__input {
      flex-grow: 1;
      width: auto;
    }
  }

  .contest-data__block--border-tablet {
    border: none;
  }

  .contest-data__wrapper-grey {
    background-color: @bg--white;
  }

  .contest-data__wrapper--app {
    order: 1;
  }

  .contest-data__block--personal {
    order: 0;
  }

  .contest-data__block--date {
    order: 2;
  }


  .contest-data__wrapper-grey--achievements {
    order: 3;
  }

  .contest-data__block--textarea {
    order: 4;
  }

  .contest-data__wrapper--submit {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 640px;
    margin: 0 auto;
    padding-top: 70px;

    text-align: center;
    order: 5;
  }

  .contest-data__wrapper button {
    margin: 0;
  }
}

@media (min-width: @desktop--width) {
  .contest-data__intro {
    width: 940px;
  }

  .contest-data__form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 940px;
    margin: 0 auto;
    padding-bottom: 0;
  }

  .contest-data__block {
    margin: 0;
  }

  .contest-data__block--personal {
    width: 50%;
    padding-right: 35px;
  }

  .contest-data__wrapper--app {
    width: 50%;
    padding-left: 35px;
  }
}
