.contest-data {
  background-color: @bg--white;

  .contest-data__wrapper--submit {
    .wrapper();
  }
}

  .contest-data__intro {
    width: 280px;
    margin: 0 auto;
    padding-top: 50px;

    font-weight: 400;
    font-size: @font-size;
    line-height: @line-height--big;
    text-align: center;
    color: @text--blue;
  }

  .contest-data__title--full {
    display: none;
  }

  .contest-data__intro span {
    display: none;
  }

  .contest-data__block {
    width: 280px;
    margin: 0 auto;

    border: none;
  }

  .contest-data__list-item {
    display: flex;
    flex-direction: column;

    color: @text--blue;

  }

  .contest-data__input {
    box-sizing: border-box;
    padding: 18px 3px 18px 20px;

    border: 2px solid @border-grey;
    border-radius: 2px;
    outline: none;

    font-size: @font-size--bigger;
    line-height: @line-height--h2;
  }

  .contest-data__label-info {
    padding-top: 20px;
    padding-bottom: 5px;
    padding-left: 20px;

    font-weight: 400;
    font-size: @font-size;
    line-height: @line-height--big;
    text-align: left;
    color: @text-pink;
    text-transform: uppercase;
  }

  .contest-data__title {
    padding-top: 35px;

    font-size: @font-size;
    line-height: @line-height--h2;
    color: @text-pink;
    text-transform: uppercase;
  }

  .contest-data__list {
    padding-top: 15px;
    padding-bottom: 44px;
  }

  .contest-data__wrapper--app .contest-data__label {
    padding-bottom: 22px;
    padding-top: 25px;
  }

  .contest-data__wrapper--app .contest-data__list {
    padding-bottom: 30px;
  }

  .contest-data__list--achievements {
    padding-bottom: 16px;
  }

  .contest-data__block--textarea .contest-data__title {
    padding-bottom: 20px;
  }

  .contest-data__wrapper-grey {
    background-color: @bg--grey;
  }

  .contest-data__textarea {
    resize: none;
    font-size: @font-size--bigger;
    line-height: line-height--base;
  }

  .contest-data__label {
    align-self: flex-start;
    padding-bottom: 24px;
    padding-top: 30px;
    padding-left: 70px;
    font-size: @font-size--bigger;
    line-height: @line-height--base;
  }

  .contest-data__form {
    display: flex;
    flex-direction: column;
  }

  .contest-data__wrapper--submit {
    padding-top: 35px;
  }

  @media (min-width: @tablet--width) {
    .contest-data__block {
      width: 620px;
      margin: 0 auto;

      background-color: @bg--white;
      border: 2px solid #e5e5e5;
      border-radius: 2px;
    }

      .contest-data__intro {
        width: 620px;

        font-weight: 400;
        font-size: @font-size--h2;
        line-height: line-height--base;
      }

      .contest-data__title--full {
        display: block;
      }

      .contest-data__list-item {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-bottom: 50px;
        padding-left: 50px;
      }

      .contest-data__input {
        flex-grow: 1;
        width: auto;
      }


    .contest-data__intro span {
      display: block;
    }

    .contest-data__block--border-tablet {
      border: none;
    }

    .contest-data__wrapper--app {
      order: 1;
      margin-bottom: 55px;
    }

    .contest-data__block--personal {
      order: 0;
    }

    .contest-data__block--date {
      order: 2;
      margin-bottom: 45px;
    }

    .contest-data__wrapper-grey--achievements {
      order: 3;

      background-color: @bg--white;
    }

    .contest-data__wrapper-grey {
      background-color: @bg--white;
    }

    .contest-data__block--textarea {
      order: 4;
    }

    .contest-data__wrapper--submit {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      order: 5;
      padding-top: 70px;

      text-align: center;
    }

    .contest-data__wrapper button {
      margin: 0;
    }

  .contest-data__intro {
    padding-top: 95px;
    font-size: @font-size--bigger;
    line-height: @line-height--base;
    font-weight: 400;
    width: 500px;
    padding-bottom: 50px;
  }

  .contest-data__label-info {
    padding-left: 0;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 0;
  }

  .contest-data__list {
    padding: 0;
    margin-bottom: 0;
    padding-left: 50px;
    padding-top: 25px;
  }

  .contest-data__block--personal .contest-data__list {
    padding-left: 0;
  }

  .contest-data__wrapper--app .contest-data__list-item {
    margin-bottom: 0;
  }

  .contest-data__title {
    padding-top: 10px
  }

  .contest-data__label {
    padding-top: 0;
    padding-bottom: 0;
  }

  .contest-data__list-item {
    padding-left: 0;
  }
}

.contest-data__block--date .contest-data__list-item {
  flex-direction: column-reverse;
  padding-right: 60px;
  margin-bottom: 30px;
}

.contest-data__block--date .contest-data__label-info {
  padding-top: 10px;
  padding-left: 25px;

}


  @media (min-width: @desktop--width) {
    .contest-data__intro {
      width: 940px;
    }

    .contest-data__form {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      width: 940px;
      margin: 0 auto;
      padding-bottom: 0;
    }

    .contest-data__block {
      box-sizing: border-box;
      width: 100%;
      margin: 0;
    }

    .contest-data__block--personal {
      width: 50%;
      padding-right: 35px;
    }

    .contest-data__wrapper--app {
      width: 50%;
    }

    .contest-data__block--date {
      width: 100%;
    }

    .contest-data__wrapper-grey--achievements {
      width: 100%;
    }

    .contest-data__list--achievements {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }

  .contest-data__wrapper-grey--achievements .contest-data__list-item {
    flex-basis: 263px;
  }

  .form-correction {
    padding-top: 40px;
    text-transform: uppercase;
  }
