.contest-data {
  background-color: @text--white;

  .contest-data__intro {
    margin: 0;
    padding-top: 50px;
    padding-bottom: 45px;

    font-weight: 400;
    font-size: @font-size;
    line-height: @line-height--big;
    text-align: center;
    color: @text--blue;
  }

  .contest-data__block {
    border: none;
  }

  .contest-data__list-item {
    display: flex;
    flex-direction: column;

    color: @text--blue;
  }

  .contest-data__input {
    box-sizing: border-box;
    padding: 15px 3px 15px 20px;

    border: 2px solid @border-grey;
    border-radius: 2px;
    outline: none;
  }

  .contest-data__label-info {
    padding-top: 20px;
    padding-bottom: 10px;

    font-weight: 400;
    font-size: @font-size;
    line-height: @line-height--big;
    text-align: left;
    color: @text-pink;
  }

  .contest-data__title {
    padding-top: 40px;

    font-size: @font-size;
    line-height: @line-height--h2;
    color: @text-pink;
  }

  .contest-data__list {
    padding-top: 40px;
    padding-bottom: 44px;
  }

  .contest-data__block--bg-grey {
    background-color: @bg--grey;
  }

  .contest-data__textarea {
    resize: none;
  }

  .contest-data__label {
    align-self: flex-start;
    padding-bottom: 50px;
    padding-left: 40px;
  }
}
