.downloads {
  padding-top: 27px;


  background-color: @bg--blue;

}

.downloads__wrapper {
  width: 280px;
  margin: 0 auto;
}

.downloads__text {
  margin: 0;
  padding-bottom: 35px;

  font-weight: 300;
  font-size: @font-size;
  line-height: @line-height--base;
  text-align: center;
  color: @text--white;
}

.downloads__title {
  display: none;
}

@media (min-width: @tablet--width) {
  .downloads__title {
    display: block;

    font-weight: 300;
    color: @text--white;
    margin: 0;
    padding-right: 36px;
    padding-bottom: 30px;
    padding-left: 36px;

    font-size: 40px;
    line-height: 48px;
  }

  .downloads {
    width: 360px;

    background-color: transparent;
    padding-bottom: 22px;
    padding-top: 0;
  }

  .downloads__wrapper {
    padding-right: 40px;
    width: 300px;

  }
}

@media (min-width: @desktop--width) {
  .downloads__title {
    padding-right: 10px;
    padding-bottom: 50px;
    padding-left: 0;

    font-size: 50px;
    line-height: 60px;
  }

  .downloads {
    padding-top: 10px;
  }
}
