.downloads {
  padding-top: 27px;

  background-color: @bg--blue;
}

.downloads__wrapper {
  width: 280px;
  margin: 0 auto;
}

.downloads__text {
  margin: 0;
  padding-bottom: 30px;

  font-weight: 300;
  font-size: @font-size;
  line-height: @line-height--base;
  text-align: center;
  color: @text--white;
}

.downloads__title {
  display: none;
}

@media (min-width: @tablet--width) {
  .downloads__title {
    display: block;
    margin: 0;
    padding-right: 36px;
    padding-bottom: 30px;
    padding-left: 36px;

    font-weight: 300;
    font-size: 40px;
    line-height: 48px;
    color: @text--white;
  }

  .downloads {
    position: relative;

    width: 360px;
    padding-top: 0;
    padding-bottom: 22px;

    background-color: transparent;
  }

  .downloads__wrapper {
    width: 300px;
    margin-left: 0;
    padding-right: 40px;
  }
}

@media (min-width: @desktop--width) {
  .downloads__title {
    padding-right: 0;
    padding-bottom: 50px;
    padding-left: 0;

    font-size: 50px;
    line-height: 60px;
  }

  .downloads {
    padding-top: 17px;
    padding-bottom: 0;
  }

  .downloads__wrapper {
    padding-right: 55px;
  }

  .downloads__text {
    padding-top: 24px;
    padding-bottom: 122px;
  }
}
