.features {
  display: flex;
  flex-direction: column;
  padding-top: 14px;
  padding-bottom: 32px;

  .features__wrapper,
  .features__wrapper-list {
    .wrapper();
  }
}

.features__title {
  font-weight: 300;
  font-size: @font-size--big;
  line-height: @line-height--h2;
  color: @text--blue;
}

.features__wrapper-list-grey {
  background-color: @bg--grey;
  background-image: url("../img/bg-triangle-white.svg");
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: 101% auto;
}

.features__item {
  position: relative;

  padding-bottom: 9px;

  list-style: none;
  color: @text--black;
}

.features__item--img {
  padding-bottom: 310px;

  background-image: url("../img/iphone-screen-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: 50% 148px;
  background-size: 157px auto;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/iphone-screen-mobile@2x.png");
  }
}

.features__list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-top: 85px;
}

.features__title-item {
  margin: 0;
  padding-bottom: 12px;

  font-weight: 700;
  font-size: @font-size--h3;
}

.featers__description {
  margin: 0;
  padding-bottom: 20px;

  font-weight: 400;
  line-height: @line-height--base;
  color: @text--blue;
}

@media (min-width: @tablet--width) {
  .features__title {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;

    font-size: 40px;
    line-height: @line-height--h1;
  }

  .features {
    padding-top: 48px;
    padding-bottom: 65px;
  }

  .features__item--img {
    padding-bottom: 0;

    background-image: none;
  }

  .features__wrapper-list {
    position: relative;
  }

  .features__title-item {
    padding-bottom: 10px;
  }

  .features__wrapper-list::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;

    width: 268px;
    height: 480px;

    background-image: url("../img/iphone-screen-3-tablet@1x.png");
    background-repeat: no-repeat;
    background-size: 268px auto;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/iphone-screen-3-tablet@2x.png");
    }
  }

  .features-item__image--image-third {
    display: none;
  }

  .features__item {
    padding-bottom: 15px;
    padding-left: 300px;

    text-align: left;
  }

  .features__item:last-child {
    padding-left: 300px;

    text-align: left;
  }

  .features__title:last-child {
    width: 410px;
    margin: 0 auto;
  }

  .features__list {
    padding-top: 120px;
    padding-left: 10px;
  }
}

@media (min-width: @desktop--width) {
  .features__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 75px;
    padding-left: 0;
  }

  .features__wrapper-list::before {
    display: none;
  }

  .features {
    padding-top: 67px;
    padding-bottom: 0;
  }

  .features__title-item {
    padding-top: 55px;
    padding-right: 5px;
    padding-bottom: 26px;

    font-weight: 700;
    font-size: 30px;
    line-height: @line-height--small;
    color: @text--black;
  }

  .features__title-item:last-child {
    padding-right: 0;
  }

  .features__item {
    position: relative;

    width: 300px;
    padding-left: 0;

    text-align: center;
  }

  .features__item:last-child {
    width: 300px;
    padding-left: 0;

    text-align: center;
  }

  .features__image {
    position: relative;

    display: block;
    width: 100%;
    height: 301px;
  }

  .features__image--image-black::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    width: 298px;
    height: 301px;

    background-image: url("../img/iphone-screen-1-desktop@1x.png");
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: 292px auto;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/iphone-screen-1-desktop@2x.png");
    }
  }

  .features__image--image-pink::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    width: 298px;
    height: 301px;

    background-image: url("../img/iphone-screen-2-desktop@1x.png");
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: 292px auto;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/iphone-screen-2-desktop@2x.png");
    }
  }

  .features__image--image-smile::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    width: 298px;
    height: 301px;

    background-image: url("../img/iphone-screen-3-desktop@1x.png");
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: 292px auto;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/iphone-screen-3-desktop@2x.png");
    }
  }

  .featers__description {
    padding-right: 31px;
    padding-left: 32px;

    font-weight: 400;
    font-size: @font-size--bigger;
    line-height: (@line-height--base+0.1);
    color: @text--blue;
  }

  .features .features__title {
    font-size: 50px;
    line-height: @line-height--h1;
  }
}
