.footer {
  display: flex;
  flex-direction: column;

  &--index {
    display: none;

    @media (min-width: @tablet--width) {
      display: block;
    }
  }
}

.footer__wrapper {
  padding-top: 40px;

  .wrapper();
}

.footer__logo-link--desktop {
  display: none;
}

.footer__logo {
  display: block;
  align-self: center;
  padding-bottom: 35px;
}

.footer__copyright {
  display: flex;
  justify-content: center;
}

// .copyright__text {
//   padding-top: 5px;
//   padding-right: 10px;
//
//   font-weight: 400;
//   font-size: @font-size;
//   line-height: @line-height--h2;
// }

// .copyright__icon {
//   fill: @text-pink;
// }
//
// .copyright__icon:hover,
// .copyright__icon:focus {
//   fill: @bg--blue;
// }
//
// .copyright__icon:active {
//   opacity: 0.3;
//
//   fill: @bg--blue;
// }

.social__list {
  display: flex;
  justify-content: center;
  padding-bottom: 40px;
  padding-left: 20px;
}

.social__link {
  position: relative;

  display: flex;
  width: 45px;
  height: 45px;
  margin-right: 12px;

  background-repeat: no-repeat;
  background-position: center;
  border: 3px solid #e9ebec;
  border-radius: 50%;
}

.social__icon {
  display: flex;
  align-self: center;
  padding-left: 16px;

  fill: @text-pink;
}

.social__link:hover,
.social__link:focus {
  border-color: @bg--blue;
  // transition: 0.4s;
}

.social__link:active {
  opacity: 0.1;
}

.footer__logo-link:hover,
.footer__logo-link:focus {
  fill: @text-pink;
}

.footer__logo-link:active {
  opacity: 0.3;

  fill: @bg--blue;
}

@media (min-width: @tablet--width) {
  .footer__logo {
    padding-bottom: 0;
  }

  .social__list {
    padding-top: 10px;
    padding-right: 5px;
    padding-bottom: 0;
    padding-left: 0;
  }

  .footer__logo-link {
    display: none;
  }

  .footer__logo-link--tablet {
    display: block;

    fill: @bg--blue;
  }

  .footer__copyright {
    align-self: center;
    padding-top: 12px;
  }

  // .copyright__text {
  //   padding-top: 10px;
  // }

  .footer__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 33px;
  }
}

@media (min-width: @desktop--width) {
  // .copyright__text {
  //   padding-right: 16px;
  //
  //   font-weight: 400;
  //   font-size: @font-size--bigger;
  //   line-height: @line-height--small;
  // }

  .footer__logo {
    padding-bottom: 0;
  }

  .footer__logo-link--desktop {
    display: block;
  }

  .footer__logo-link--tablet {
    display: none;
  }

  .social__list {
    padding-top: 15px;
    padding-left: 24px;
  }

  .footer__copyright {
    padding-top: 20px;
  }

  // .copyright__link {
  //   padding-top: 8px;
  // }
}
