.form-page {
  background-color: @bg--white;

  .form-page__wrapper {
    .wrapper();
  }
}

.form-page__intro {
  background-color: @bg--blue;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center 0;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/bg-back-mobile@2x.jpg");
  }
}

.form-page__title {
  margin: 0;
  padding-top: 94px;
  padding-bottom: 54px;

  font-weight: 300;
  font-size: @font-size--h1;
  line-height: @line-height--h1;
  color: @text--white;
}

.form-page__wrapper {
  padding-top: 6px;
  padding-bottom: 0;
}

@media (min-width: @tablet--width) {
  .form-page__title {
    padding-top: 110px;

    font-weight: 300;
    font-size: 50px;
    line-height: @line-height--h1;
  }

  .form-page__wrapper {
    padding-top: 70px;
    padding-bottom: 25px;
  }

  .form-page__intro {
    background-image: url("../img/bg-back-tablet@1x.jpg");

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/bg-back-tablet@2x.jpg");
    }
  }
}

@media (min-width: @desktop--width) {
  .form-page__title {
    padding-top: 105px;
    padding-bottom: 35px;
  }

  .form-page__wrapper {
    padding-bottom: 65px;
  }

  .form-page__intro {
    background-image: url("../img/bg-back-desktop@1x.jpg");

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/bg-back-desktop@2x.jpg");
    }
  }
}
