.header {
  &--photo {
    top: 0;
  }
}

.header__wrapper-logo {
  position: relative;
  z-index: 20;

  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;

  .wrapper();
}

.header__wrapper {
  content: "";
  position: absolute;

  width: 100%;
  min-height: 66px;

  background-color: rgba(0, 0, 0, 0.5);
}

.header__button-toggle {
  position: absolute;
  top: 50%;
  right: 0;

  display: block;
  width: 50px;
  height: 23px;
  padding-left: 100px;

  background-color: transparent;
  border: none;
  transform: translate(-50%, -60%);
  cursor: pointer;
}

.header__button-cross {
  padding-left: 36px;
}

.header__button-cross,
.header__button-burger {
  fill: @text--white;
}

.header__logo-mobile {
  fill: @text--white;
}

.header__button-toggle--closed .header__button-cross {
  display: none;
}

.header__button-toggle .header__button-burger {
  display: none;
}

.header__button-toggle--closed .header__button-burger {
  display: block;
}

.header__button-cross:hover,
.header__button-cross:focus,
.header__button-burger:hover,
.header__button-burger:focus {
  fill: @text-pink;
}


.header__button-cross:active,
.header__button-burger:active {
  opacity: 0.3;
}

.header__logo-image {
  display: block;
  width: 74.426px;
  height: 22.859px;
}

.header__logo-tablet,
.header__logo-desktop {
  display: none;
}

.header__logo {
  fill: @bg--white;
}

.header__logo:hover,
.header__logo:focus {
  fill: @text-pink;
}

.header__logo-mobile:hover {
  fill: @text-pink;
}

.header__logo-mobile:active {
  opacity: 0.3;

  fill: @bg--white;
}

.header__logo:active {
  opacity: 0.3;

  fill: @bg--white;
}

@media (min-width: @tablet--width) {
  .header__logo-tablet {
    display: block;
  }

  .header__logo-mobile {
    display: none;
  }

  .header__logo-image {
    width: 147px;
    height: 40px;
  }

  .header__wrapper-logo {
    padding-top: 27px;
    padding-bottom: 43px;
  }

  .header__logo-image {
    display: block;
    width: 146.3px;
    height: 40.375px;
  }
}

@media (min-width: @desktop--width) {
  .header__button-toggle {
    display: none;
  }

  .header__logo-image {
    width: 146.3px;
    height: 40.375px;
  }

  .header__logo-tablet {
    display: none;
  }

  .header__logo-desktop {
    display: block;
  }

  .header__wrapper {
    position: relative;

    display: flex;
    width: 940px;
    min-height: 110px;
    margin: 0 auto;

    background-color: rgba(0, 0, 0, 0);
  }

  .header__wrapper-desktop {
    position: absolute;

    width: 100%;
    min-height: 110px;

    background-color: rgba(0, 0, 0, 0.5);
  }
}

@media (max-width: @desktopnj--width) {
  .header__wrapper--nojs {
    position: initial;

    background-color: @bg--blue;
  }

  .header__wrapper--nojs .header__button-toggle {
    display: none;
  }
}
