.image-load {
  display: flex;
  flex-direction: column;

  .image-load__title {
    margin: 0;
    padding: 50px 30px 60px 30px;

    font-weight: 400;
    font-size: @font-size;
    line-height: line-height--big;
  }

  .image-load__tools {
    padding-bottom: 40px;

    background-color: @bg--ligth-grey;
  }

  .image-load__picture {
    padding-top: 20px;

    background-color: @bg--ligth-grey;
    border-bottom: 2px solid @border-grey;
  }

  .load-tools__list {
    display: flex;
  }
}
