.image-load {
  display: flex;
  flex-direction: column;

  .image-load__wrapper {
    padding-top: 20px;

    .wrapper();

    @media (min-width: @tablet--width) {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: @width-wrapper--tablet;
    }

    @media (min-width: @desktop--width) {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      width: @width-wrapper--desktop;

      background-color: @bg--ligth-grey;
    }
  }
}

.image-load__title {
  margin: 0;
  padding: 15px 0 46px 0;

  font-weight: 400;
  font-size: @font-size;
  line-height: @line-height--big;
}

.image-load__title-wrapper {
  .wrapper();
}

.image-load__tools {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 40px;

  background-color: @bg--ligth-grey;
}

.image-load__picture {
  background-color: @bg--ligth-grey;
}

.image-load__picture img {
  display: block;
}

@media (min-width: @tablet--width) {

  .image-load__title {
    margin: 0;
    padding: 40px 90px 70px 90px;

    font-size: @font-size--bigger;
    line-height: @line-height--base;
  }

  .image-load__tools {
    padding-bottom: 60px;
  }

  .image-load__picture {
    padding-top: 35px;
  }

  .load-tools__image {
    width: 22px;
    height: 22px;
  }

  .load-tools__image--contrast {
    width: 16px;
    height: 16px;
  }
}

@media (min-width: @desktop--width) {
  .image-load__tools {
    background-color: @bg--white;
    padding-bottom: 40px;
  }

  .load-tools__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: space-between;
    align-self: center;
  }


  .image-load__title {
    padding-top: 0;
    padding-right: 250px;
    padding-left: 250px;
  }

  .image-load__picture {
    padding-top: 35px;
    padding-left: 45px;
  }

  .load-tools__scale-box {
    padding-top: 20px;
  }
}
