.map {
  position: relative;

  width: 100%;
  min-height: 200px;
  overflow: hidden;

  background-color: @bg--ligth-grey;
  background-image: url("../img/bg-map-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;


  &::before {
    content: "";
    position: absolute;
    z-index: 5;

    display: block;
    width: 100%;
    height: 80px;

    background-image: url("../img/bg-triangle-white-footer.svg");
    background-repeat: no-repeat;
    background-position: center top;
  }
}

@media (min-width: @tablet--width) {
  .map {
    height: 370px;
  }

  .map::before {
    height: 80px;

    background-size: 100% 70px;
  }
}

@media (min-width: @desktop--width) {
  .map {
    height: 520px;
  }

  .map::before {
    height: 150px;

    background-size: 100% 100px;
  }
}
