.navigation {
  background-color: @text--blue;

  .navigation__link {
    font-weight: 700;
    font-size: @font-size--bigger;
    line-height: @line-height--base;
    color: @text--white;
    text-decoration: none;
  }
  .navigation__item {
    padding-top: 20px;
    padding-bottom: 20px;

    text-transform: uppercase;

    border-top: 1px solid #000000;
  }

  .navigation__list {
    display: flex;
    flex-direction: column;
  }
}
