.navigation {
  content: "";
  position: absolute;
  top: 0;
  z-index: 5;

  align-self: center;
  width: 100%;
  margin: 0 auto;

  background-color: @bg--blue;
}

.navigation__item--height {
  min-height: 28px;
  padding-top: 19px;
  padding-bottom: 20px;
}

.header-nav {
  width: 100%;
  min-height: 66px;

  background-color: rgba(0,0,0,0.5);
}

.navigation__link {
  position: relative;

  display: block;
  padding-top: 17px;
  padding-bottom: 17px;

  font-weight: 700;
  font-size: @font-size--bigger;
  line-height: @line-height--base;
  color: @text--white;
  text-decoration: none;
}

.navigation__item {
  margin: 0;

  text-transform: uppercase;

  border-top: 1px solid @border-ligth-grey;
  border-bottom: 1px solid @text--black;
  cursor: pointer;
}

.navigation__link:hover,
.navigation__link:focus {
  color: @text-pink;
}

.navigation__link:active {
  opacity: 0.3;
}

@media (min-width: @tablet--width) {
  .navigation__item--height {
    min-height: 66px;
  }
}

@media (min-width: @desktop--width) {
  .navigation__item {
    border: none;
  }

  .navigation__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    min-width: 750px;
  }

  .navigation__link--current-page::before {
    content: "";
    position: absolute;
    top: 54px;
    right: 0;
    left: 82px;

    height: 2px;

    background-color: #ffffff;
  }

  .navigation__link {
    padding-left: 80px;

    font-weight: 400;
    line-height: @line-height--small;
    text-transform: none;
  }

  .navigation {
    position: relative;

    background-color: transparent;
  }

  .navigation__link:active {
    color: rgba(255, 255, 255, 0.3);
  }
}

@media (max-width: @desktop--width) {
  .navigation--closed .navigation__list {
    display: none;
  }

  .navigation--nojs .navigation__list {
    display: block;
  }
}
