.page-title {
  background-color: @bg--white;

  .page-title__intro {
    background-color: @bg--blue;
    background-image: url("../img/bg-back-mobile@1x.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
  }
}
