.page-title {
  margin-top: -110px;
}

.page-title__intro {
  .wrapper();

  @media (min-width: @tablet--width) {
    display: flex;
  }
}

.page-title__block {
  background-color: @bg--blue;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

.page-title__intro {
  position: relative;

  padding-top: 570px;
}


.page-title__intro::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: -15px;

  width: 258px;
  height: 286px;

  background-image: url("../img/iphone-hand-mobile@1x.png");
  background-repeat: no-repeat;
  background-size: 258px 286px;;
}

@media (min-width: @tablet--width) {
  .page-title__intro::before {
    bottom: -553px;
    left: 160px;
  }

  .page-title__intro {
    padding-top: 64px;
    padding-bottom: 220px;
  }
}

@media (min-width: @desktop--width) {
  .page-title__intro::before {
    bottom: -643px;
    left: 360px;
  }

  .page-title__intro {
    padding-top: 99px;
  }
}
