.photo-album {

  .photo-album__wrapper {
    .wrapper();
  }

  .photo-album__slogan {
    margin: 0;

    font-weight: 400;
    font-size: @font-size;
    line-height: @line-height--big;
    padding-top: 45px;

    @media (min-width: @tablet--width) {
      font-weight: 400;
      font-size: @font-size--bigger;
      line-height: @line-height--base;
    }

    @media (min-width: @desktop--width) {
      padding-right: 187px;
      padding-left: 187px;
    }
  }
}
