.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 100;

  display: none;
  width: 320px;
  padding-top: 25px;

  background-color: @bg--white;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
  transform: translate(-50%, -50%);
}

.popup__container {
  width: @width-wrapper;
  margin: 0 auto;
}

.popup--successfully .popup__container {
  padding-bottom: 25px;
}

.popup--successfully .popup__title {
  margin-bottom: 0;
}

.popup--successfully .popup__text {
  margin: 0;
  padding-top: 25px;
  padding-bottom: 10px;
}

.popup--error .popup__title {
  margin: 0;
  padding-bottom: 25px;
}

.popup--error .popup__text {
  margin: 0;
  padding-bottom: 40px;
}

.popup__title {
  font-weight: 700;
  font-size: @font-size--bigger;
  line-height: @line-height--h2;
  color: @text--black;
}

.popup__text {
  font-weight: 400;
  font-size: @font-size;
  line-height: @line-height--base;
}

.popup__section--grey {
  padding-top: 50px;
  padding-bottom: 50px;

  background-color: @bg--ligth-grey;
}

.popup--error {
  padding-bottom: 50px;
}

@media (min-width: @tablet--width) {
  .popup {
    width: 464px;
  }

  .popup--successfully {
    padding-top: 15px;
  }

  .popup__container {
    width: 340px;
    margin: 0 auto;
  }

  .popup__title {
    font-size: 30px;
    line-height: @line-height--h2;
  }

  .popup--error .popup__title {
    padding-right: 80px;
    padding-left: 80px;
  }

  .popup--error .popup__text {
    padding-right: 60px;
    padding-left: 60px;

    line-height: @line-height--h2;
  }

  .popup--successfully .popup__text {
    padding-top: 25px;
  }

  .popup__text {
    font-weight: 400;
    font-size: @font-size--bigger;
    line-height: @line-height--h2;
  }
}

@media (min-width: @desktop--width) {
  .popup--successfully {
    width: 780px;
    padding-top: 20px;
  }

  .popup--error {
    width: 462px;
    padding-top: 30px;
  }

  .popup__container {
    width: 530px;
    margin: 0 auto;
  }

  .popup--error .popup__title {
    padding-right: 100px;
    padding-left: 100px;
  }

  .popup--error .popup__text {
    padding-right: 70px;
    padding-left: 70px;
  }

  .popup--successfully .popup__text {
    padding-right: 40px;
    padding-left: 40px;
  }
}
