.product {
  padding-top: 92px;
  padding-bottom: 34px;

  text-transform: uppercase;

  background-color: @bg--ligth-grey;
  background-image: url("../img/bg-triangle-white.svg");
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: 101% auto;

  .product__wrapper {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-bottom: 65px;
    overflow: hidden;

    @media (min-width: @tablet--width) {
      width: @width-wrapper--tablet;
      margin: 0 auto;
    }

    @media (min-width: @desktop--width) {
      width: @width-wrapper--desktop;
      margin: 0 auto;
    }
  }
}

.product__list-head {
  color: @text--white;

  background-color: @bg--blue;
}

.product__item--yes {
  background-image: url("../img/icon-yes.svg");
  background-repeat: no-repeat;
  background-position: 230px;
  background-size: 10%;
}

.product__item--no {
  background-image: url("../img/icon-no.svg");
  background-repeat: no-repeat;
  background-position: 230px;
}

.product__toggle {
  position: absolute;
  bottom: 6px;
  left: 54%;

  display: flex;
  width: 80px;
  min-height: 20px;

  transform: translateX(-50%);
  padding-top: 40px;
}

.product__flag {
  position: absolute;
  top: -2px;
  left: -2px;
  z-index: 10;

  width: 72px;
  height: 72px;
  overflow: hidden;
}

.product__name:nth-child(3)::before {
  content: "хит";
  position: absolute;
  top: 20px;
  left: 9px;
  z-index: 100;

  width: 28px;
  height: 10px;

  font-size: 14px;
  line-height: 14px;
  vertical-align: center;
  text-align: center;
  color: @bg--white;
  text-transform: uppercase;

  background-color: @text-pink;
  transform: rotate(-45deg);
}

.product__flag--hit {
  background: url("../img/bg-hit.svg") no-repeat 0 0;
}

.product__name-title {
  margin: 0;

  font-weight: 700;
  font-size: @font-size--bigger;
  line-height: @line-height--base;
}

.product__cost {
  margin: 0;
  padding-top: 4px;
  padding-bottom: 20px;

  font-weight: 300;
  font-size: @font-size--big;
  line-height: @line-height--h1;
}

.product__name {
  position: relative;

  padding-top: 15px;

  border: 2px solid @text--white;
  border-top-color: @bg--blue;
}

.product__item {
  box-sizing: border-box;
  padding: 14px 30px 14px 20px;

  font-weight: 400;
  font-size: @font-size;
  line-height: @line-height--big;
  text-align: left;
  color: @text--blue;

  border: 2px solid #e5e5e5;
}

.product__list {
  box-sizing: border-box;
  width: 840px;
  padding-bottom: 40px;

  border-collapse: collapse;

  transform: translateX(0);

  transition: 0.6s;
}

.product__name--empty {
  display: none;
}

.product__item--empty {
  display: none;

  background: none;
}

.product__radio-left:checked ~ .slider-toggles .slider-toggles__control-left,
.product__radio-middle:checked ~ .slider-toggles .slider-toggles__control-middle,
.product__radio-right:checked ~ .slider-toggles .slider-toggles__control-right {
  background-color: @bg--white;
  border: 3px solid @bg--blue;
  opacity: 1;
}

.product__radio-left:checked ~ .product__list {
  transform: translateX(280px);
}

.product__radio-middle:checked ~ .product__list {
  transform: translateX(0);
}

.product__radio-right:checked ~ .product__list {
  transform: translateX(-280px);
}


@media (min-width: @tablet--width) {
  .product__item--empty {
    display: block;

    text-transform: none;
  }

  .product__list {
    width: 620px;

    transform: none;
  }

  .product__flag {
    width: 61px;
    height: 61px;
  }

  .product__flag--hit {
    background: url("../img/bg-hit-tablet.svg") no-repeat 0 0;
  }

  .product__name:nth-child(3)::before {
    top: 12px;
    left: 5px;
  }

  .product__name--empty {
    display: block;
    min-height: 78px;

    background-color: @bg--ligth-grey;
    border: none;
  }

  .product__item--yes {
    background-position: center;
    background-size: 20%;
  }

  .product__item--no {
    background-position: center;
    background-size: 15%;
  }

  .product {
    padding-top: 76px;
    padding-bottom: 0;
  }

  .product__name-title {
    font-weight: 700;
    font-size: @font-size--base;
    line-height: (@line-height--base + 0.2);
  }

  .product__cost {
    padding-top: 0;
    padding-bottom: 0;

    font-weight: 300;
    font-size: @font-size--bigger;
    line-height: @line-height--base;
  }

  .product__item--yes,
  .product__item--no {
    font-size: 0;
  }

  .product__item {
    min-width: 152px;
    padding: 7px 15px;

    text-align: left;
  }

  .product__name {
    padding-top: 0;
    padding-bottom: 0;
  }

  .product__list-body {
    background-color: @bg--white;
  }

  .product__wrapper {
    padding-top: 10px;
  }
}

@media (min-width: @desktop--width) {
  .product__name-title {
    font-weight: 700;
    font-size: @font-size--bigger;
    line-height: @line-height--base;
  }

  .product__name--empty {
    min-height: 98px;
  }

  .product__flag {
    width: 74px;
    height: 73px;
  }

  .product__name:nth-child(3)::before {
    top: 20px;
    left: 9px;
  }

  .product__flag--hit {
    background: url("../img/bg-hit.svg") no-repeat 0 0;
  }

  .product__list {
    width: 940px;
  }

  .product__cost {
    font-weight: 300;
    font-size: @font-size--big;
    line-height: @line-height--h2;
  }

  .product__item {
    min-width: 234px;
    padding: 13px 24px 16px;
  }

  .product__item--empty {
    padding-left: 20px;

    font-size: @font-size--bigger;
    line-height: @line-height--base;
  }

  .product {
    padding-top: 127px;
    padding-bottom: 10px;
  }

  .product__item--yes {
    background-size: 15%;
  }

  .product__item--no {
    background-size: 10%;
  }
}
