.product {
  padding-top: 120px;
  padding-bottom: 30px;

  text-transform: uppercase;

  background-color: @bg--ligth-grey;

  .product__wrapper {
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding-bottom: 65px;

    @media (min-width: @tablet--width) {
      width: @width-wrapper--tablet;
      margin: 0 auto;
    }

    @media (min-width: @desktop--width) {
      width: @width-wrapper--desktop;
      margin: 0 auto;
    }
  }
}

.product__list-head {
  color: @text--white;

  background-color: @bg--blue;
}

.product__item--yes {
  background-image: url("../img/icon-yes.svg");
  background-repeat: no-repeat;
  background-position: 230px;
  background-size: 10%;
}

.product__item--no {
  background-image: url("../img/icon-no.svg");
  background-repeat: no-repeat;
  background-position: 230px;
}


.product__name-title {
  margin: 0;

  font-weight: 700;
  font-size: @font-size--bigger;
  line-height: @line-height--base;
}

.product__cost {
  margin: 0;
  padding-bottom: 20px;

  font-weight: 300;
  font-size: @font-size--big;
  line-height: @line-height--h1;
}

.product__name {
  padding-top: 20px;

  border: 2px solid @text--white;
}

.product__item {
  box-sizing: border-box;
  padding: 14px 30px 14px 20px;

  font-weight: 400;
  font-size: @font-size;
  line-height: @line-height--big;
  color: @text--blue;

  border: 2px solid #e5e5e5;
  text-align: left;
}

.product__list {
  box-sizing: border-box;
  width: 840px;
  padding-bottom: 40px;

  border-collapse: collapse;

  transform: translateX(0);
  transition: 0.6s;
}

.product__name--empty {
  display: none;
}

.product__item--empty {
  display: none;

  background: none;
}

.product__toggle {
  padding-top: 40px;
}

#btn-table-left:checked ~ .slider-toggles label[for="btn-table-left"],
#btn-table-middle:checked ~ .slider-toggles label[for="btn-table-middle"],
#btn-table-right:checked ~ .slider-toggles label[for="btn-table-right"] {
  background-color: @bg--white;
  border: 3px solid @bg--blue;
}

#btn-table-left:checked ~ .product__list {
  transform: translateX(280px);
}

#btn-table-middle:checked ~ .product__list {
  transform: translateX(0);
}

#btn-table-right:checked ~ .product__list {
  transform: translateX(-280px);
}


@media (min-width: @tablet--width) {
  .product__item--empty {
    display: block;

    text-transform: none;
  }

  .product__list {
    width: 620px;

    transform: none;
  }

  .product__name--empty {
    display: block;
    min-height: 78px;

    background-color: @bg--ligth-grey;
    border: none;
  }

  .product__item--yes {
    background-position: center;
    background-size: 15%;
  }

  .product__item--no {
    background-position: center;
    background-size: 10%;
  }

  .product {
    padding-top: 110px;
  }

  .product__name-title {
    font-weight: 700;
    font-size: @font-size--base;
    line-height: (@line-height--base + 0.2);
  }

  .product__cost {
    padding-bottom: 0;

    font-weight: 300;
    font-size: @font-size--bigger;
    line-height: @line-height--base;
  }

  .product__item--yes,
  .product__item--no {
    font-size: 0;
  }

  .product__item {
    min-width: 152px;
    padding: 7px 15px;

    text-align: left;
  }

  .product__name {
    padding-top: 0;
    padding-bottom: 0;
  }

  .product__list-body {
    background-color: @bg--white;
  }
}

@media (min-width: @desktop--width) {
  .product__name-title {
    font-weight: 700;
    font-size: @font-size--bigger;
    line-height: @line-height--base;
  }

  .product__name--empty {
    min-height: 98px;
  }

  .product__list {
    width: 940px;
  }

  .product__cost {
    font-weight: 300;
    font-size: @font-size--big;
    line-height: @line-height--h2;
  }

  .product__item {
    min-width: 234px;
    padding: 13px 24px 16px;

    text-transform: uppercase;
  }

  .product {
    padding-top: 140px;
    padding-bottom: 10px;
  }
}
