.review {
  position: relative;

  display: flex;
  flex-direction: column;
  overflow: hidden;


  .review__wrapper {
    .wrapper();
    position: relative;
    padding-bottom: 20px;
  }
}

.review__name {
  padding-bottom: 15px;

  font-weight: 700;
  font-size: @font-size--bigger;
  line-height: line-height--base;
  font-style: normal;
}

.review__quote {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.review__text {
  margin: 0;
  padding-bottom: 40px;

  font-size: @font-size;
  line-height: @line-height--big;
  text-align: center;
  color: @text--blue;
}

.review__info {
  display: none;
}

.review__item {
  transition: 0.3s ease-out;
  display: none;
}

.review__radio-left:checked ~ .slider-toggles .slider-toggles__review-left,
.review__radio-middle:checked ~ .slider-toggles .slider-toggles__review-middle,
.review__radio-right:checked ~ .slider-toggles .slider-toggles__review-right {
  background-color: @bg--white;
  border: 3px solid @bg--blue;
  opacity: 1;
}

.review__radio-left:checked ~ .review__list .review__item:first-child {
  display: block;
}

.review__radio-middle:checked ~ .review__list .review__item:nth-child(2) {
  display: block;
}

.review__radio-right:checked ~ .review__list .review__item:nth-child(3) {
  display: block;
}

.review__toggle {
  bottom: 6px;
}

@media (min-width: @tablet--width) {
  .review__wrapper {
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 0;
  }

  .review__text {
    order: 1;
    padding-bottom: 36px;

    font-weight: 400;
    font-size: @font-size--bigger;
    line-height: @line-height--base;
  }

  .review__name {
    order: 2;
    padding-bottom: 5px;

    font-size: 20px;
    line-height: @line-height--base;
    color: @text--black;
  }

  .review__info {
    display: block;
    order: 3;
    margin: 0;
    padding-bottom: 32px;

    font-size: @font-size;
    line-height: line-height--base;
    color: @text--blue;
  }
}


@media (min-width: @desktop--width) {
  .review__wrapper {
    padding-top: 190px;
    padding-bottom: 8px;
    // background-image: url(""};

    background-repeat: no-repeat;
    background-position: 50% 5px;
  }

  .review .review__toggle {
    display: none;
  }

  .review__name {
    font-size: @font-size--big;
    line-height: @line-height--h2;
  }

  .review__info {
    font-size: @font-size--bigger;
    line-height: line-height--base;
  }

  .review__text {
    padding-right: 95px;
    padding-left: 95px;
  }
}
