.review {
  position: relative;

  display: flex;
  flex-direction: column;
  overflow: hidden;

  .review__wrapper {
    .wrapper();
  }
}

  .review__name {
    padding-bottom: 20px;

    font-weight: 700;
    font-size: @font-size--bigger;
    line-height: line-height--base;
    font-style: normal;
  }

  .review__quote {
    display: flex;
    flex-direction: column;
    margin: 0;
  }

  .review__text {
    padding-bottom: 40px;

    font-size: @font-size;
    line-height: @line-height--base;
    text-align: center;
    color: @text--blue;
    margin: 0;
  }

  .review__info {
    display: none;

  }

  .review__item {
    display: none;

    &--current {
      display: block;
    }
  }

  @media (min-width: @tablet--width) {
    .review__wrapper {
      display: flex;
      flex-direction: column;
      padding-top: 50px;
    }

    .review__text {
      order: 1;

      font-weight: 400;
      font-size: @font-size--bigger;
      line-height: line-height--base;
    }

    .review__name {
      order: 2;

      font-size: 20px;
      line-height: @line-height--base;
      color: @text--black;
      padding-bottom: 12px;
    }

    .review__info {
      display: block;
      order: 3;
      margin: 0;

      font-size: @font-size;
      line-height: line-height--base;
      color: @text--blue;
      padding-bottom: 32px;
    }
  }

  @media (min-width: @desktop--width) {
    .review__wrapper {
      padding-top: 190px;
      padding-bottom: 8px;
      // background-image: url(""};

      background-repeat: no-repeat;
      background-position: 50% 5px;
    }

    .slider-toggles {
      display: none;
    }

    .review__name {
      font-size: @font-size--big;
      line-height: @line-height--h2;
    }

    .review__info {
      font-size: @font-size--bigger;
      line-height: line-height--base;
    }
  }
