.user-photo {
  display: flex;
  flex-direction: column;
  padding-bottom: 8px;

  .user-photo__wrapper {
    .wrapper();
  }

  .user-photo__wrapper-quote {
    .wrapper();
  }
}

.user-photo__image {
  display: block;

  background-color: @bg--grey;

  &--photo-day {
    display: block;
    width: 100%;

    background-color: @bg--grey;
    min-width: 320px;
    min-height: 137px;
  }
}

.user-photo__quote {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 18px;

  text-align: left;

  background-color: #f3f3f3;
  padding-top: 25px;
}

.user-photo__author {
  padding-bottom: 5px;

  font-weight: 700;
  font-size: @font-size;
  line-height: @line-height--small;
  font-style: normal;
}

.user-photo__author span {
  font-weight: 300;
  font-size: @font-size--small;
  line-height: @line-height--small;
  text-transform: uppercase;
  font-style: italic;
}

.user-photo__pcture {
  overflow: hidden;
}

.user-photo__text {
  margin: 0;
  padding-bottom: 8px;

  font-weight: 300;
  font-size: @font-size;
  line-height: (@line-height--base+0.05);
}

.user-photo__text-like {
  position: relative;

  display: block;
  align-self: flex-start;
  padding-top: 5px;
  padding-left: 32px;

  font-weight: 400;
  font-size: @font-size--small;
  line-height: @line-height--big;
  color: @text-pink;
  text-transform: uppercase;
}

.user-photo__text-like::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 0;

  width: 13px;
  height: 12px;

  background-image: url("../img/icon-heart.svg");
}

.user-photo__item {
  position: relative;

  display: flex;
  flex-direction: column;
  padding-top: 0;
  padding-bottom: 18px;
}

.user-photo__text-panorama {
  position: absolute;
  top: 0;
  right: 0;

  padding: 7px 23px 6px;

  font-size: @font-size--small;
  line-height: 24px;
  color: @text--white;
  text-transform: uppercase;

  background-color: @text-pink;
}

@media (min-width: @tablet--width) {
  .user-photo__quote {
    min-height: 111px;
    padding-top: 30px;
    padding-bottom: 16px;
    padding-left: 28px;
  }

  .user-photo__quote--wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
    padding-top: 10px;
    padding-right: 30px;
    padding-bottom: 0;
    padding-left: 30px;
  }

  .user-photo__text--order {
    order: 1;
    padding-bottom: 0;
  }

  .user-photo__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .user-photo__item {
    flex-basis: 300px;
  }

  .user-photo__item--foto-day {
    min-height: 660px;
    padding-bottom: 20px;
  }

  .user-photo__image {
    display: block;
  }

  .user-photo__quote--wrapper .user-photo__text-like {
    padding-top: 15px;
    padding-right: 30px;
    padding-left: 0;
    margin-bottom: 0;
  }

  .user-photo__quote--wrapper .user-photo__text-like::before {
    top: 20px;
    left: 110px;
  }

  .user-photo__quote--wrapper .user-photo__author {
    padding-top: 20px;
    padding-bottom: 0;
  }

  .user-photo__image--photo-day {
    width: 100%;
    height: 509px;
  }

  .user-photo__text-like {
    margin-top: auto;
    margin-bottom: 8px;
    padding-top: 0;
    padding-right: 40px;
    padding-left: 0;
  }

  .user-photo__author {
    align-self: left;
    padding-top: 0;
    padding-bottom: 5px;
  }

  .user-photo__text-panorama {
    top: 57px;
    right: 10px;
  }

  .user-photo__text {
    padding-bottom: 0;
  }

  .user-photo__text-like::before {
    top: 5px;
    left: 227px;
  }
}

@media (min-width: @desktop--width) {
  .user-photo__wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .user-photo__item {
    padding-bottom: 55px;
  }

  .user-photo__quote--wrapper .user-photo__author {
    padding-top: 32px;
  }

  .user-photo__quote--wrapper .user-photo__text-like {
    padding-top: 26px;
  }

  .user-photo__quote--wrapper .user-photo__text-like::before {
    top: 32px;
    left: 105px;
  }


  .user-photo__text-panorama {
    top: 115px;
    right: 0;
  }

  .user-photo__item--foto-day {
    min-height: 655px;
    padding-top: 60px;
    padding-bottom: 0;
  }

  .user-photo__image {
    height: 400px;
  }

  .user-photo__image--photo-day {
    width: 100%;
    height: 506px;
  }

  .user-photo__quote--wrapper {
    min-height: 96px;
    padding-top: 0;
    padding-bottom: 0;
  }

  .user-photo {
    padding-bottom: 0;
  }
}
